<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="layout">
        <section class="header">
          <h1>Header Section </h1>
        </section>
        <section class="main">
            {{{body}}}
        </section>
        <section class="footer">
          <h1>Footer Section</h1>
        </section>
    </div>
  </body>
</html>
